<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 

</head>
<body>
    <div class="bg-all">
            <div class="logo">$TEMPNAME$ </div>
            <div class="login-icon"></div>
            <script>
                login_icon = document.querySelector(".login-icon");
                login_icon.addEventListener("click",()=>{document.location.href = `./login.html`})
            </script>
            <div class="items">
                <div class="item">
                    <img class="item-img" src="../static/img/boot.png" alt="">
                    <label for="">Boots NIKE S-10</label>
                </div>
                <div class="item"><img class="item-img" src="../static/img/boot.png" alt="">
                    <label for="">Boots NIKE S-10</label></div>
                <div class="item"><img class="item-img" src="../static/img/boot.png" alt="">
                    <label for="">Boots NIKE S-10</label></div>
                    <div class="more">MORE</div>
            </div>

    </div>
</body>
</html>