
body{
    font-family: "Roboto";
    font-size: 20px;
    color:white;
    text-align: center;
    
}
.bg{
    background: #232B36;
    width: 100vw;
    height: 50vh;
    z-index: -1;
}
.logo{
    font-size: 100px;

}
.bg-all{
    background: #232B36;
    width: 99vw;
    z-index: -1;
}
.bg-all-screen{
    background: #232B36;
    width: 99vw;
    height: 100vh;
    z-index: -1;
}
.login-icon{
    content: url(./img/login.png);
    float: right;
    width: 90px;
    margin-top: 10px;
    margin-right: 10px;
}
.text-container{
    color: aquamarine;
}
.part1{
    
    font-size: 160px;
    padding-top: 1.5em;
}
.part2border{
    text-align: center;
    font-size: 120px;
    width: 60vw;
    color: #232B36;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border: #232B36 6px solid;
    padding: 1px;
    

}
.search-icon{
    width: 50px;
    margin-left: auto;
    margin-right:0%;

}
.search-icon:hover{
   width: 85px;
}
.searcharea{
    height: 20vh;
    width: 50vw;
    text-align: center;
    border:none;
    color: #232B36;
    margin-left: 35px;
}
.items{
    padding-top: 10px;
    background-color: white;
    width: 1202px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}
.item{
    border: #232B36 6px solid;
    width: 1104px;
    height: 250px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
.item-img{
    float: left;
}
.item>label{
    color: #232B36;
    font-size: 48px;
    font-family: "Roboto";
    font-weight: bold;
    
    margin: 0 auto 0 auto;
    text-align: center;
    vertical-align: center;
    padding-top: 1.5em;
    padding-bottom: auto;
}
.bg-all>.login-icon{
    position: absolute;
    top: 1.2em;
    right: 0;
}
.more{
    height: 1.6em;;
    
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    border: #232B36 6px solid;
    color: #232B36;
    font-size: 48px;
}
.login-form{
    text-align: center;
    font-size: 48px;
}
.submit{
    margin-top: 24px;
}
.login-icon:hover{
    width: 100px;
}
.part2border{
    margin-top: 24px;
}